.App {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
          "header header "
          "content content ";

  grid-template-rows: 70px 1fr;
  grid-template-columns: 12fr;
  grid-gap: 0px;
}

.app-wrapper__content {
  grid-area: content;
}





